.teams {
    background-image: var(--second-gradient);
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.team-member-name {
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 1024px) {
    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .team-container {
        grid-template-columns: 1fr;
    }
}
